{% load staticfiles %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>SCERT</title>



      <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
  <div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
        <h1>{{ message }}<h1>
		<form action="/tt/login/" method="POST">
		    {% csrf_token %}
			<input type="text" placeholder="Username" name="Username">
			<input type="password" placeholder="Password" name="Password">
			<button type="submit" id="login-button">Login</button>
			</form>
	</div>
</div>
  <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>

</body>
</html>
