{% extends 'BaseTeacherLogin.html' %}


{%block content%}
<!-- Container (The Band Section) -->
<style type="text/css">
	table.dataTable.select tbody tr,
table.dataTable thead th:first-child {
  cursor: pointer;
}
</style>>
<script>
$(document).ready(function() {

    $('.table').DataTable( {
        columnDefs: [ {
            orderable: false,
            targets:   0
        } ],
        order: [[ 1, 'asc' ]]
    } );
    });
</script>
<div class="container " style="padding-top: 25px;padding-bottom: 10px">
<div class="well well-sg" style="height: 60px;text-align: center;margin-bottom: 0px" >
          <h3 style="letter-spacing: 0px">{{message}}<b>{{training}}</b></h3>
</div>
</div>
<div class="container" style="padding-top: 0px">
  <table class="table table-bordered table-striped table-hover" >
      <thead>
      <tr>
      <th>TRAINING ID</th>
        <th>TRAINING NAME</th>
        <th>STATUS</th>
        <th>TRAINING TYPE</th>
        <th>START DATE</th>
        <th>ENDING DATE </th>
        <th>TRAINING PLAN</th>       
        <th>FUNDING SOURCE</th>   
        <th>ACTION</th>     
      </tr>
    </thead>
    <tbody>
{%for itr in tpe%}
{%if  itr.trainingStatus == itr.NOMINATED %}
      <tr>
        <td>{{itr.trainingPlanDetailId.traingId.id}}</td>
        <td>{{itr.trainingPlanDetailId.traingId.name}}</td>
        <td>{{itr.trainingStatus}}</td>
        <td>{{itr.trainingPlanDetailId.traingId.type}}</td>
        <td>{{itr.trainingPlanDetailId.start_date}}</td>
        <td>{{itr.trainingPlanDetailId.end_date}}</td>
        <td>{{itr.trainingPlanDetailId.traininPlanId.name}}</td>
        <td>{{itr.trainingPlanDetailId.fundingSource}}</td>
        <td><a href="/tt/RegisterFromWorklist/{{itr.id}}">Register</a></td>
      </tr> 
{%elif itr.trainingStatus == itr.PRETRAININGREQUISITE and itr.TrainingPrerequisiteStatus == itr.INITIAL%}
      <tr>
        <td>{{itr.trainingPlanDetailId.traingId.id}}</td>
        <td>{{itr.trainingPlanDetailId.traingId.name}}</td>
        <td>{{itr.trainingStatus}}</td>
        <td>{{itr.trainingPlanDetailId.traingId.type}}</td>
        <td>{{itr.trainingPlanDetailId.start_date}}</td>
        <td>{{itr.trainingPlanDetailId.end_date}}</td>
        <td>{{itr.trainingPlanDetailId.traininPlanId.name}}</td>
        <td>{{itr.trainingPlanDetailId.fundingSource}}</td>
        <td><a href="/tt/CompletePrerequisites/{{itr.id}}">Complete Prerequisites</a></td>
      </tr> 
{%elif itr.trainingStatus == itr.POSTTRAININGREQUISITE and itr.TrainingPostrequisiteStatus == itr.INITIAL%}
      <tr>
        <td>{{itr.trainingPlanDetailId.traingId.id}}</td>
        <td><a href="/tt/WorklistTrainingDetail/{{itr.id}}">{{itr.trainingPlanDetailId.traingId.name}}</a></td>
        <td>{{itr.trainingStatus}}</td>
        <td>{{itr.trainingPlanDetailId.traingId.type}}</td>
        <td>{{itr.trainingPlanDetailId.start_date}}</td>
        <td>{{itr.trainingPlanDetailId.end_date}}</td>
        <td>{{itr.trainingPlanDetailId.traininPlanId.name}}</td>
        <td>{{itr.trainingPlanDetailId.fundingSource}}</td>
        <td><a href="/tt/CompletePostrequisites/{{itr.id}}">Complete Postrequisites</a></td>
      </tr>       
{%endif%}    
{%endfor%}
</tbody>
  </table>  
</div>
{%endblock%}